<%= form_with model: [ @user, @user.comments.build ] do |form| %>
  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.label :status %>
    <%= form.select :status, %w[public private archived], selected: 'public' %>
  </p>
  <p>
    <button type="submit" class="btn btn-success" style="margin-top: 20px;">Submit</button>
  </p>
<% end %>