<div style="text-decoration:none; margin: 20px;">
  <span style="text-decoration:none; margin: 10px;">
    <strong style="font-family: 'DejaVu Serif',serif;">Our Blog has</strong>
  </span>
  <ol style="font-family: 'DejaVu Serif',serif;">
    <li><%= User.public_count %> Public User</li>
    <li><%= User.private_count %> Private User</li>
    <li><%= User.archived_count %> Archived Use</li>
  </ol>
</div>
<div style="text-decoration:none; margin-top: 20px;">
  <a href="<%= new_user_path(@user) %>" style="text-decoration:none; margin: 20px">
    <input class="btn btn-outline-success" type="button" value="Add User">
  </a>

  <a href="<%= users_random_user_path %>" style="text-decoration:none; margin: 20px;">
    <input class="btn btn-outline-dark" type="button" value="Random User">
  </a>

  <a href="<%= users_destroy_all_path %>" style="text-decoration:none; margin: 20px;">
    <input class="btn btn-outline-danger" type="button" value="Destroy All">
  </a>
</div>

<table class="table table-bordered" style="margin: 20px;">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Email</th>
    <th scope="col">Mobile</th>
    <th scope="col">Status</th>
    <th scope="col">Comments</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <th><%= user.id %></th>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= user.mobile %></td>
      <td><%= user.status %></td>
      <td><%= render user.comments %></td>
      <td>
        <div class="btn-group" role="group" aria-label="Basic example">
          <a href="/users/<%= user.id %>" style="text-decoration:none;">
            <input class="btn btn-outline-primary btn-sm" type="button" value="View">
          </a>
          <a href="/users/<%= user.id %>/edit" style="text-decoration:none; margin: 1px 10px 1px 10px;">
            <input class="btn btn-outline-success btn-sm" type="button" value="Edit">
          </a>
          <%= button_to 'Delete', user_path(user), class: "btn btn-outline-danger btn-sm", method: :delete %>
        </div>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
